<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Travlr Getaways Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header}}
			<div id="contents">
				<div id="adbox">
				{{#each home}}
				{{#if main}}
					<img src="images/{{this.image}}" alt="Img">
					<h1>{{this.name}}</h1>
					<p>
						{{{this.description}}}
					</p>
				{{/if}}
				{{/each}}
				</div>
				<div id="main">
					<div class="box">
						<div>
							<div>
								{{#each home}}
								{{#if box1}}
								{{#unless box1Details}}
								<h3>{{this.name}}</h3>
								{{/unless}}
								{{/if}}
								{{/each}}
								<ul>
								{{#each home}}
								{{#if box1Details}}
									<li>
										<h4><a href="/news">{{this.name}}</a></h4>
										<span>{{this.date}}</span>
										<p>
											{{this.description}}
										</p>
									</li>
								{{/if}}
								{{/each}}
								</ul>
							</div>
						</div>
					</div>
					<div id="testimonials" class="box">
						<div>
							<div>
								{{#each home}}
								{{#if testimonial}}
								<h3>{{this.name}}</h3>
								<p>
									{{{this.description}}}
								</p>
								{{/if}}
								{{/each}}
							</div>
						</div>
					</div>
				</div>
				<div id="sidebar">
					{{#each home}}
					{{#if side}}
					<div class="section">
						{{{this.image}}}
					</div>
					{{/if}}
					{{/each}}
				</div>
			</div>
		</div>
		{{> footer}}
	</div>
</body>
</html>